<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>ejemploServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFormulario1</display-name>
    <servlet-name>ServletFormulario1</servlet-name>
    <servlet-class>com.curso.ServletFormulario1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario1</servlet-name>
    <url-pattern>/ServletFormulario1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario2</display-name>
    <servlet-name>ServletFormulario2</servlet-name>
    <servlet-class>com.curso.ServletFormulario2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario2</servlet-name>
    <url-pattern>/ServletFormulario2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario3</display-name>
    <servlet-name>ServletFormulario3</servlet-name>
    <servlet-class>com.curso.ServletFormulario3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario3</servlet-name>
    <url-pattern>/ServletFormulario3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario4</display-name>
    <servlet-name>ServletFormulario4</servlet-name>
    <servlet-class>com.curso.ServletFormulario4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario4</servlet-name>
    <url-pattern>/ServletFormulario4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormCompleto</display-name>
    <servlet-name>ServletFormCompleto</servlet-name>
    <servlet-class>com.curso.ServletFormCompleto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormCompleto</servlet-name>
    <url-pattern>/ServletFormCompleto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leerCookie</display-name>
    <servlet-name>leerCookie</servlet-name>
    <servlet-class>com.curso.leerCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leerCookie</servlet-name>
    <url-pattern>/leerCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crearCookie</display-name>
    <servlet-name>crearCookie</servlet-name>
    <servlet-class>com.curso.crearCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearCookie</servlet-name>
    <url-pattern>/crearCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerSesion</display-name>
    <servlet-name>LeerSesion</servlet-name>
    <servlet-class>com.curso.LeerSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerSesion</servlet-name>
    <url-pattern>/LeerSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearSesion</display-name>
    <servlet-name>CrearSesion</servlet-name>
    <servlet-class>com.curso.CrearSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSesion</servlet-name>
    <url-pattern>/CrearSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearSesionProducto</display-name>
    <servlet-name>CrearSesionProducto</servlet-name>
    <servlet-class>com.curso.CrearSesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSesionProducto</servlet-name>
    <url-pattern>/CrearSesionProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerSesionProducto</display-name>
    <servlet-name>LeerSesionProducto</servlet-name>
    <servlet-class>com.curso.LeerSesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerSesionProducto</servlet-name>
    <url-pattern>/LeerSesionProducto</url-pattern>
  </servlet-mapping>
</web-app>